body {
  height: 100%;
  width: 1005;
  background-color: white;
  /* background-image: url(); */
  /* background-position: right top; */
}

/* id starts with #
class starts with .
*/

h1 {
  border: 2px dashed green;
  outline-style: solid;
  outline-offset: 10px;
  text-align-last: center;
}

table,
th,
td {
  border: 2px solid;
  width: 50%;
  border-collapse: collapse; /* collapses the individual borders to one */
}

tr:hover {
  background-color: blue;
}

/* dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  background-color: blue;
  color: white;
  padding: 13px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: lightblue;
  min-width: 150px;
}

.dropdown-menu a {
  color: black;
  padding: 11px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: gray;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover .dropdownButton {
  background-color: lightcoral;
}
